body {
    background-image: url(https://i.imgur.com/MlkzCgC.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    margin-top: 160px;
    padding: 30px;
}

tr {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    margin-left: 30px;
}

td {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    height: 190px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    margin: 15px;
}

.type_grass {
    color: #589c30;
}

.type_fire {
    color: rgb(238, 0, 0);
}

.type_water {
    color: royalblue;
}

.type_dark {
    color: rgb(87, 87, 87);
}

.type_fighting {
    color: rgb(255, 154, 96);
}

.type_ground {
    color: rgb(129, 49, 2);
}

.type_normal {
    color: rgb(255, 166, 0);
}

.type_bug {
    color: rgb(59, 128, 38);
}

.type_flying {
    color: rgb(80, 188, 231);
}

.type_poison {
    color: rgb(78, 67, 151);
}

.type_psychic {
    color: rgb(255, 95, 122);
}

a {
    text-decoration: none;
}

.icon {
    margin-top: 20px;
    margin-left: 20px;
}

.name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: royalblue;
}

.pic {
    margin-top: 5px;
}

#double_type {
    display: inline-block;
    word-spacing: 5px;
}

.pokedex {
    width: auto;
    height: auto;
}

header img {
    height: 150px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
}


header * {
    display: inline;
}

header li {
    margin:50px;
    margin-top: 30px;
    font-size: x-large;
}

header li a {
    color: black;
    font-size: x-large;
}

.icons {
    width: 80px;
    height: 80px;
}