body {
    background-image: url(https://i.imgur.com/MlkzCgC.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    padding: 30px;
}

.pokedex tr {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    margin-left: 40px;
}

.pokedex td {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    margin: 15px;
}

.pokedex td:hover {
    transform: scale(1.1);
}

.pokedex .i_type_grass {
    color: #589c30;
}

.pokedex .i_type_fire {
    color: rgb(238, 0, 0);
}

.pokedex .i_type_water {
    color: royalblue;
}

.pokedex .i_type_dark {
    color: rgb(87, 87, 87);
}

.pokedex .i_type_fighting {
    color: rgb(255, 154, 96);
}

.pokedex .i_type_ground {
    color: rgb(129, 49, 2);
}

.pokedex .i_type_normal {
    color: rgb(255, 166, 0);
}

.pokedex .i_type_bug {
    color: rgb(59, 128, 38);
}

.pokedex .i_type_flying {
    color: rgb(80, 188, 231);
}

.pokedex .i_type_poison {
    color: rgb(78, 67, 151);
}

.pokedex .i_type_psychic {
    color: rgb(255, 95, 122);
}

a {
    text-decoration: none;
}

.icon {
    margin-top: 20px;
    margin-left: 20px;
}

.name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: royalblue;
}

.pic {
    margin-top: 5px;
}

#double_type {
    display: inline-block;
    word-spacing: 5px;
}

.pokedex {
    margin-left: auto;
    margin-right: auto;
}   

header img {
    height: 150px;
}

header {
    background-image: url(http://static.minitokyo.net/downloads/22/36/596822.jpg);
    background-position-y: 580px;
    background-size: cover;
    overflow: hidden;
}

header * {
    display: inline;
}

header li {
    margin:50px;
    margin-top: 30px;
}

header li a {
    color: black;
    font-size: 40px;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header li:hover {
    transform: scale(1.2);
}

.icons {
    width: 120px;
    height: 120px;
    padding-bottom: 20px;
}

.icons:hover {
    transform: scale(1.5);
}

.type_table {
    margin-left: auto;
    margin-right: auto;
}

.type_table tr {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    margin-left: 40px;
    font-family: "Fira Sans","Trebuchet MS",Helvetica,Arial sans-serif;
}

.type_table td {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 60px;
    border-radius: 20px;
    margin: 15px;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 2px rgba(39, 39, 39, 0.6);
}

.type_table td:hover {
    transform: scale(1.2);
}

.type_table a {
    color: black;
    font-weight: bold;
}

.type_normal {
    background-color: #aa9;
}

.type_fire {
    background-color: #f42;
}

.type_water {
    background-color: #39f;
}

.type_electric {
    background-color: #fc3;
}

.type_grass {
    background-color: #7c5;
}

.type_ice {
    background-color: #6cf;
}

.type_fighting {
    background-color: #b54;
}

.type_poison {
    background-color: #a59;
}

.type_ground {
    background-color: #db5;
}

.type_flying {
    background-color: #89f;
}

.type_psyhic{
    background-color: #f59;
}

.type_bug {
    background-color: #ab2;
}

.type_rock {
    background-color: #ba6;
}

.type_ghost {
    background-color: #66b;
}

.type_dragon {
    background-color: #76e;
}

.type_dark {
    background-color: #754;
}

.type_steel {
    background-color: #aab;
}

.type_fairy {
    background-color: #e9e;
}

.grass_type_info .info {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.6);
    display: table;
    margin-top: 10px;
}

.grass_type_info ul {
    list-style: none;
    margin-left: 20px;
}

.grass_type_info li {
}

.grass_type_info .type {
    display: flex;
    width: 120px;
    height: 60px;
    border-radius: 20px;
    margin: 15px;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 2px rgba(39, 39, 39, 0.6);
    font-family: "Fira Sans","Trebuchet MS",Helvetica,Arial sans-serif;
    font-weight: bold;
}

.info .attack_pros h3{
    display: inline-flex;
    color: black;
}

.grass_type_info .type:hover {
    transform: scale(1.2);
}

.info a {
    text-decoration: none;
}

.info h1 {
    font-weight: bold;
}