body {
    background-image: url(https://i.imgur.com/MlkzCgC.png);
    background-size: 1440px 900px;
    margin: auto;
}

.navigation_bar {
    background-color: #333;
    overflow: hidden;
}

.navigation_bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navigation_bar a:hover {
    background-color: #ddd;
    color: black;
}

.navigation_bar a.active {
    background-color: #4CAF50;
    color: white;
}

.box {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

.cells {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 125px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
}

.name {
    font-size: 1rem;
    font-weight: bold;
}

.type_grass {
    color: #589c30;
}

.type_fire {
    color: rgb(238, 0, 0);
}

.type_water {
    color: royalblue;
}

a {
    text-decoration: none;
}